#jptb-theme-bar {
    width:100%;
    height:28px;
}
#jptb-theme-bar ul, #jptb-theme-bar p {
    margin:0;
    padding:0;
}

#jptb-theme-bar ul li {
    float:left;
    list-style:none;
    margin-left:10px;
    content:'' !important;
    content:none !important;
}

#jptb-theme-bar ul li:before {
    content:'' !important;
    content:none !important;
}

#jptb-theme-bar a, #jptb-theme-bar p {
    text-decoration:none;
    line-height:15px;
    font: normal 13px/28px sans-serif;
}

#jptb-theme-bar a:hover {
    text-decoration:underline;
}

p#jptb_label {
    padding: 0 4px;
    left: 0px;
    position: absolute;
}